@model AssignmentWebApi.Models.ProductView

@{
    ViewBag.Title = "Deatils of Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>ProductView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pname)
        </dd>

        <dt>
            Product Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdesc)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
