@model PagedList.IPagedList<AssignmentWebApi.Models.ProductView>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "List of Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Product Name", "Index", new {sortOrder = ViewBag.pname })
        </th>
        <th>
            Product Description
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.price })
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}
   
</table>

}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))